img{
border-radius:15px;
height:300px;
width: 300px;
margin-left: 1300px;
border-style:solid;
border-width: 4px;
margin-right:10px;
margin-top :125px;
position: relative;
}

body{background-image:linear-gradient(blue,purple);zoom:60%;}


body {
    overflow:hidden;
}

.First {
    animation: UnHover 250ms 1;
}
@keyframes removeOut {
    from {opacity:1;}
    to {opacity:0;}
}

@keyframes UnHover {
    from {
        width: 400px;
        height:400px;
    }
    to {
        width: 300px;
        height: 300px;
    }
}
.First:hover{
    height: 400px;
    width: 400px;
    animation: hover 250ms 1;
}

@keyframes hover {
    from {
        width: 300px;
        height: 300px;
    }
    to {
        width: 400px;
        height: 400px;
    }
} 
 
.left-position {
    position: absolute;
    top: 0; 
    left: 0; 
    margin-top: 140px; 
    margin-left: 10px; 
    font-size: 37.5px;
    padding-top: 10px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.right-position {
    position: absolute;
    top: 0; 
    left: 0; 
    margin-top: 600px; 
    margin-left: 20px; 
    font-size: 37.5px;
    padding-top: 10px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

